  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
          <h1><%= title %>  欢迎来到 blog</h1>
          <p>blog 是一个基于Node.js 的微博系统。</p>
          <p> 
            <a class="btn btn-primary btn-large" href="/login">登录</a>
            <a class="btn btn-large" href="/reg">立即注册</a>
            <a class="btn btn-success" href="/userList">查看所有用户</a>
          </p> 
      </div>
    </div>    
  </div>