<!DOCTYPE html>
<html>
  <head>
    <title>博客首页</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">我是传奇我是王亚振</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/#">首页</a></li>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">特点 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" id="dropdown-menu-for-tabs">
                <li><a href="#chrome-tab">Chrome</a></li>
                <li><a href="#firefox-tab">Firefox</a></li>
                <li><a href="#safari-tab">Safari</a></li>                
                <li><a href="#opera-tab">Opera</a></li>                
                <li><a href="#ie-tab">IE</a></li>
              </ul>
            </li>
            
            <li><a href="#">退出</a></li>
          </ul>                    
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%- body %>
  
		
    <footer class="layout-footer"> 
      <p>
        版权所有： 上海至臻有限公司
      </p>
      <p >
        上海的冬天， 天上没有雪花， 我还在敲代码
      </p> 
    </footer>

    <script src="/javascripts/jquery.min.js"></script> 
	<script src="/javascripts/bootstrap.min.js"></script> 
  </body>
</html>
