
 <div class="container-fluid login-bg">

      <form class="login-form" role="form" method="post">
        <h2 class="form-signin-heading">登陆</h2>
        <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
        <input type="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <h6><span class="fa "></span>以下第三方登录 <span class="fa"></span></h6>
            <div>
              <button type="button" class="btn btn-primary" onclick="goto('/auth/github')">Github</button>
              <button type="button" class="btn btn-primary" onclick="goto('/auth/douban')">豆瓣</button>
              <button type="button" class="btn btn-primary" onclick="goto('/auth/weibo')">新浪微博</button>
            </div>
      </form>

</div> <!-- /container -->

<script>
  function goto(url) {
      window.location.href = "http://localhost:3000" + url;
    }
</script>