<h2 class="text-center"><%= title %></h2>


<form role="form" method="post" class="login-form">
  <div class="form-group">
    <label for="username">用户名: </label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Enter email" required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码: </label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1"  placeholder="Password">
  </div>
  
  
  <button type="submit" class="btn btn-primary">注册</button>
</form>