<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- body %>

    <script src="/javascripts/jquery.min.js"></script> 
	<script src="/javascripts/bootstrap.min.js"></script> 
  </body>
</html>
