html,body{
	height: 100%;
}

body {  
	padding-top: 50px;
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.layout-footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

a {
  color: #00B7FF;
}

.login-bg {
	height: 100%;
}
.login-form {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

